extends layout

block content
  main.main
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error Uh oh! Something went wrong!
      .error__msg= msg

      div 
        a.btn.btn-primary.mr-2(href="/") Go Home
        a.btn.btn-secondary.goBackBtn Go Back